.main {
    text-align: center;
}

.btnDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 520px;
    margin: auto;
}

.btn1 {
    height: 120px;
    width: 120px;
    background-color: #009ffd;
    border: none;
    border-radius: 20px;
    margin: 5px;
}

.btn1:focus {
    border: none;
}

img {
    height: 120px;
    width: 120px;
    border-radius: 20px;
    display: block;
    margin: -6px;
}

.btn2 {
    background-color: #009ffd;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 2px 10px;
    margin: 10px;
}